:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);
}
body {
    font-family: 'Kumbh Sans', sans-serif;
    background-color: var(--dark-cyan);
    background-image: url("../images/bg-pattern-top.svg"), url("../images/bg-pattern-bottom.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: right 50vw bottom 50vh, left 50vw top 50vh;
    margin: 0;
    padding: 0;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.card{
    background-color: white;
    width: 400px;
    border-radius: 16px;
    overflow: hidden;
    -webkit-box-shadow: 2px 2px 4px var(--dark-gray);
        box-shadow: 2px 2px 4px var(--dark-gray);
}
.img-header{
    width: 100%;
    display: block;
}
.content-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgba(153, 153, 153, 0.383);
}
.content-card  .img-card{
    border: 5px solid white;
    border-radius: 50%;
    margin-top: -48px;
    background-color: white;
}
.content-card .title-card{
    margin-top: 2rem;
    font-size: 25px;
}
.content-card .title-card span{
    color: var(--dark-gray);
    font-weight: 400;
}
.content-card .card-text{
    color: var(--dark-gray);
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 10px;
}
.footer-card{
    display: flex;
    justify-content: space-around;
}
.footer-card .card-social{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
}
.card-social p {
    letter-spacing: 1px;
}